.safe-area{
    padding: 25px;
}
.q-btn a{
    text-decoration: none;
    color: rgb(184, 184, 184);
    margin: 0 5px;
}
.q-btn a:hover{
    color: rgb(241, 26, 26);
}
tbody tr th span{
    font-weight: normal;
}
tr:last-child td, tr:last-child th {
    border-style: none;
}
tbody tr{
    margin-top: 20px;
}